body
{
	margin: 0;
	padding: 0;
	background: #99cc99; 
	text-align: center;
	min-width: 850px;
	max-width: 1200px;
}

div#header {
    width: 90%; /*why?*/
    height: 90px;
	padding: 2px;
    margin: 0px;
    display: inline-block;
    text-align: left;
}

.title1 {
	float : left;
}

.title2 {
	float: right;
	text-align: right;
	font: normal 12px sans-serif;
}

/*top in-line menu bar*/
div#menu {
	width: 100%;
	height: 40px;
	margin: 0px;
	background-color: #ccffcc; 
	text-align: left;
	display: inline-block;
	border-bottom: 4px;
	border-bottom-style: solid;
	border-bottom-color: #88aa88;
	padding: 0px;
	border-radius: 10px 10px 0px 0px;
}
/*------top menu*/

div#mid {
	min-height: 77%;
	width: 90%;
	margin: 0px;
	text-align: center;
	background-color: #ccffcc;
	display: inline-block;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
}

div#content {
	padding: 5px;
	padding-bottom: 10px;
	min-height: 300px;
	text-align: justify;
	font: normal 18px 'Gudea-Regular', sans-serif;
	color: #000000;
}

div#footer {
   	margin-top: 10px;	
	height : 10%;
	font: 11px sans-serif;
	text-align: center;	
}

/*tables*/
table#list{
	width: 100%;
}

th.title, td.title{
	min-width: 150px;
	max-width: 200px;
	max-height: 60px;
}

td.dates{
	min-width: 50px;
	max-width: 75px;
}

th{
	background: #77ff88;
}
	
tr.even {
	background: #aaffaa;
}
/*-----tables*/

div#menu span a:link {
	color: #000000;
	text-decoration: none;
}

div#menu span a:hover {
	border-bottom: 2px solid #000;
}

div#menu span a.current {
	border-bottom: 2px solid #000;
}

/*inline mneu items*/
div#menu span {
	font: 18px Gudea-Bold,sans-serif;
	line-height: 2em;
	color: #ffffff;
	text-align: center;
	display: inline-block;
	width: 10%;
	height: 85%;
	border-right: 1px;
	border-right-style: solid;
	border-color: #ffffff;
	margin: 0px;
}

.clickable {
	cursor: pointer;
}

tr.clickable:hover {
	background-color: #ffffff;
}

.news-title, .event-title {
	font-family: Gudea-Regular, ZawGyi-One;
	font-weight: bold;
	margin-bottom: 5px;
}

.news-summary, .event-summary {
	font-family: Gudea-Regular, ZawGyi-One;
	padding-left: 10px;
	margin-bottom: 10px;
	text-align: justify;
}

.news-details, .event-details {
	font-family: Gudea-Regular, ZawGyi-One;
	padding-left: 10px;
	margin-bottom: 10px;
	text-align: justify;
	display: none;
}
